*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url(../img/samp2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.head{
    padding: 20px;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}
.icon{
    color: red;
    font-size: 35px;
    transition: .3s;
}
.icon span{
    color: white;
}
.box{
    height: 350px;
    width: 850px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 300px;
}
.isi{
    text-align: center;
}
.isi h3{
    font-size: 25px;
    color: cyan;
}
.isi p{
    font-size: 20px;
    color:cyan;
}
.foto{
    letter-spacing: 12px;
    margin-bottom: 50px;
    text-align: center;
}
.foto img{
    height: 200px;
    width: 380px;
    border-right: 4px solid rgba(0,0,0,.5);
    border-bottom: 4px solid rgba(0,0,0,.5);
    transition: .3s;
}
.foto img:hover{
    transform: scale(1.3);
    cursor: pointer;
}
.vcoin{
    padding: 20px;
}
.vcoin h2{
    color: white;
    font-size: 30px;
}
.vcoin p{
    color: white;
    font-size: 20px;
    text-align: center;
}
.vcoin ul li{
    display: flex;
    margin-left: 50px;
    justify-content: space-between;
    font-size: 30px;
}
.vcoin ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.vcoin ul li a:hover{
    color: red;
    transition: .3s;
}
.copy{
    text-align: center;
    background: black;
    color: white;
    font-size: 10px;
}